body{

margin:0;
padding:0;
}

header{

background:darkblue;
padding:5vh;
text-align:center;
color:white;
margin:0;
}



.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
  height:10vh;
  width:100%;
 
}

.flex-container > div {
 padding:1vw;
  line-height: 4vh;
  font-size:1.2em;

}



.icon{

	background-color:DodgerBlue;
	display: none;
	padding:2vw;
 

	
}

.hover
{
background:lightblue;	
	
}


.dropdown-content {
    display: block;
 text-align:center;
  background-color: DodgerBlue;
padding:0px;

	
    
}

.end {
  margin-left: auto;
 
}

.dropdown-content a {
    color: black;
    padding: 12px 25px;
    text-decoration: none;
    display: block;
    text-align: left;
	margin:0;
	width:50px;
	background:lightblue;	
}

.dropdown-content a:hover {background-color: DodgerBlue}



.flex-container > div > a {
  text-decoration :none;
  color:inherit;
}

 @media (max-width:580px){
	 
	.flex-container {
 display:none;
  height:80px;
  flex-direction:column;

} 
.end {
  margin-left: auto;
  
 
}

.icon{
 display:flex;
height:4vh;
}

.flex-container .dropdown-content
{
display:none;
}


 }